<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form method="post">

      <input type="text" id="kennitala" name="kennitala" placeholder="Kennitala">
      <input type="submit" id="submit" value="Skrá inn" name="submit">

    </form>

  </body>
</html>
